.contact{
    margin: 5rem;
    height: 30rem;
    width: 30rem;
    border: 2px solid gainsboro;
    /* padding: 3rem; */
    background-color: rgb(250, 247, 227);
    margin-left: 30rem;
}

.contact input{
    width: 25rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* background-color: red; */
    height: 400px;
}

input{
    width: 30rem;
    height: 50px;
}