.contact{
    margin-top: 5rem;
    height: 70vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* background-color: red; */
    height: 400px;
}

input{
    width: 30rem;
    height: 50px;
}