.contact{
    margin: 5rem;
    height: 70vh;
    border: 2px solid black;
    padding: 3rem;
    background-color: khaki;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* background-color: red; */
    height: 400px;
}

input{
    width: 30rem;
    height: 50px;
}