.login{
    margin: 5rem;
    margin-left: 32rem;
    margin-bottom: 10rem;
    display: flex;
    height: 25rem;
    width: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* border: 2px solid black; */
     border: 2px solid gainsboro;
    padding: 5rem;
    background-color: rgb(250, 247, 227);
        /* background-color: rgb(229, 226, 203); */
    /* background-color: palegoldenrod; */
}

.login input{
    width: 15rem;
}