.subscription{
    display: flex;
    /* border: 2px solid black; */
     border: 2px solid gainsboro;
    width: 90vw;
    height: 400px;
}

.info{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    margin-left: 25rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.info input{
    margin-top: 7px;
    width: 15rem;
}

.subs0{
    border-right: 2px solid black;
    /* background-color: lightgrey; */
}
.subs1{
    border-right: 2px solid black;
    /* background-color: aquamarine; */
}
.subs2{
    /* background-color: burlywood; */
}

.info{
    /* border: 2px solid black;*/
     border: 2px solid gainsboro; 
    /* background-color: rgb(229, 226, 203); */
    background-color: rgb(250, 247, 227);
}