.subscription{
    display: flex;
    border: 2px solid black;
    width: 90vw;
    height: 400px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.info input{
    margin-top: 7px;
}

.subs0{
    border-right: 2px solid black;
    /* background-color: lightgrey; */
}
.subs1{
    border-right: 2px solid black;
    /* background-color: aquamarine; */
}
.subs2{
    /* background-color: burlywood; */
}

.info{
    border: 2px solid black;
    background-color: rgb(229, 226, 203);
}