.info{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    margin-left: 25rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    border: 2px solid gainsboro;
    background-color: rgb(250, 247, 227); 
}
.info input{
    margin-top: 7px;
    width: 15rem;
}


