/* .container{
    width: 900px;
    height: 500px;
}  */

.footer {
  /* background-color: red; */
  width: 100vw;
  margin: 0px;
  margin-left: -7rem;
  padding: 0px;
   background-color: rgb(228, 243, 249);
  /* position: fixed; */
}